*.pyc
rcurrent/NA62MC/.rootlogon.C
rcurrent/NA62Reconstruction/.rootlogon.C
rcurrent/NA62Analysis/build-cc7/
rcurrent/NA62FWBuildRunTree.py

*cc7/
*.internal
*.pcm
# *.cmake
*.log
.__afs*

*.so
*.a
*.root

/rcurrent/NA62Analysis/PythonAnalyzer/build/

/rcurrent/*/*cc7/

rcurrent/NA62Analysis/scripts/NA62AnalysisBuilder.py

