*.pyc
na62fw/NA62MC/.rootlogon.C
na62fw/NA62Reconstruction/.rootlogon.C
na62fw/NA62Analysis/build-cc7/
na62fw/NA62FWBuildRunTree.py

*cc7/
*.internal
*.pcm
# *.cmake
*.log
.__afs*
*.cmake

*.so
*.a
*.root

/na62fw/NA62Analysis/PythonAnalyzer/build/

/na62fw/*/*cc7/

na62fw/NA62Analysis/scripts/NA62AnalysisBuilder.py

